# compilesd output
/target

# environment
.env

# Jetbrains IDEs and other editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/recommended-settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
